<%= form_for(@burritos) do |form| %>



  <div class="api__field">
    <%= form.label :name, class:'api__label'%>
    <%= form.text_field :name, class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :address, class:'api__label' %>
    <%= form.text_field :address,class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :adress2, class:'api__label' %>
    <%= form.text_field :address_line_2,class:'api__input'%>
  </div>

  <div class="api__field">
    <%= form.label :lat, class:'api__label' %>
    <%= form.text_field :lat,class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :lng, class:'api__label' %>
    <%= form.text_field :lng,class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :category_id, class:'api__label' %>
    <%= form.number_field :category_id,class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :category_id2, class:'api__label' %>
    <%= form.number_field :category_id2,class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :closed, class:'api__label' %>
    <%= form.select :closed, options_for_select([['Open', true], ['Closed', false]]),class:'api__input'%>
  </div>

  <div class="api__field">
    <%= form.label :monday, class:'api__label' %>
     <%=
    form.time_field :mondayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'mondayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :mondayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'mondayC',
      class: 'never-submit api__input'
  %>
  </div>

<div class="api__field">
    <%= form.label :tuesday, class:'api__label' %>
     <%=
    form.time_field :tuesdayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'tuesdayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :tuesdayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'tuesdayC',
      class: 'never-submit api__input'
  %>
  </div>

  <div class="api__field">
    <%= form.label :wednesday, class:'api__label' %>
     <%=
    form.time_field :wednesdayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'wednesdayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :wednesdayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'wednesdayC',
      class: 'never-submit api__input'
  %>
  </div>
  <div class="api__field">
    <%= form.label :thursday, class:'api__label' %>
     <%=
    form.time_field :thursdayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'thursdayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :thursdayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'thursdayC',
      class: 'never-submit api__input'
  %>
  </div>

  <div class="api__field">
    <%= form.label :friday, class:'api__label' %>
     <%=
    form.time_field :fridayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'fridayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :fridayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'fridayC',
      class: 'never-submit api__input'
  %>
  </div>

  <div class="api__field">
    <%= form.label :saturday, class:'api__label' %>
     <%=
    form.time_field :saturdayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'saturdayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :saturdayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'saturdayC',
      class: 'never-submit api__input'
  %>
  </div>

  <div class="api__field">
    <%= form.label :sunday, class:'api__label' %>
     <%=
    form.time_field :sundayO,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'sundayO',
      class: 'never-submit api__input'
  %>
    <%=
    form.time_field :sundayC,
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss',
      id: 'sundayC',
      class: 'never-submit api__input'
  %>
  </div>

  <div class="api__field">
    <%= form.label :hours, class:'api__label' %>
    <%= form.text_field :hours, id: 'hours',class:'api__input' %>
  </div>

  <div class="api__field">
    <%= form.label :phone, class:'api__label' %>
    <%= form.text_field :phone_number,class:'api__input' %>
  </div>

  <div class="actions">
    <%= form.submit class:'api__submit'%>
  </div>
<% end %>
<script>
$(document).ready(function(){
  
  $("#mondayO, #mondayC, #tuesdayO,#tuesdayC,#wednesdayO,#wednesdayC,#thursdayO,#thursdayC,#fridayO,#fridayC,#saturdayO,#saturdayC,#sundayO,#sundayC").on('change', function () {
    var mondayO = $('#mondayO');
    var mondayC = $('#mondayC');
    var tuesdayO = $('#tuesdayO');
    var tuesdayC = $('#tuesdayC');
    var wednesdayO = $('#wednesdayO');
    var wednesdayC = $('#wednesdayC');
var thursdayO = $('#thursdayO');
    var thursdayC = $('#thursdayC');
    var fridayO = $('#fridayO');
    var fridayC = $('#fridayC');
    var saturdayO = $('#saturdayO');
    var saturdayC = $('#saturdayC');
    var sundayO = $('#sundayO');
    var sundayC = $('#sundayC');
    var duration =`${mondayO[0].value} ${mondayC[0].value},${tuesdayO[0].value} ${tuesdayC[0].value},${wednesdayO[0].value} ${wednesdayC[0].value},${thursdayO[0].value} ${thursdayC[0].value},${fridayO[0].value} ${fridayC[0].value},${saturdayO[0].value} ${saturdayC[0].value},${sundayO[0].value} ${sundayC[0].value}`

    $("#hours").val(duration).attr("disable","false");
  });
});

$(document).ready(function() {
  $('form').submit(function() {
    $('.never-submit').prop('disabled', true);
    return true;
  });
});

</script>
